@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap");

:root {
  --white: #ffffff;
  --whiteOpac-005: rgba(255, 255, 255, 0.05);
  --whiteOpac-03: rgba(255, 255, 255, 0.3);
  --whiteOpac-05: rgba(255, 255, 255, 0.5);
  --whiteOpac-09: rgba(255, 255, 255, 0.9);
  
  --grey: #e8e8e8;
  --greyOpac-03: rgba(220, 220, 220, 0.3);

  --black: #444444;
  --blackOpac-005: rgba(0, 0, 0, 0.05);
  --blackOpac-03: rgba(68, 68, 68, 0.3);
  --blackOpac-05: rgba(68, 68, 68, 0.5);
  --blackOpac-09: rgba(68, 68, 68, 0.9);
  
  --blackDm: #18181a;
  --darkblue: #1a2849;
  --violetblue: #505bda;
  --violetblueOpac-01: rgba(80, 91, 218, 0.1);
  --violetblueOpac-06: rgba(78, 90, 218, 0.6);
  --violet: #b063c5;
  --pink: #ffaac3;
  --green: #24cca7;
  --red: #cc2424;
  --yellow: #e8b60f;

  --bg__01: var(--white);
  --bg__02: var(--blackOpac-01);
  --bg__03: var(--violetblue);
  --bg__04: var(--violetblueOpac-01);
  --text__01: var(--black);
  --text__02: var(--white);
  --text__03: var(--violetblue);
  --text__04: var(--blackOpac-03);
  --text__05: var(--blackOpac-05);
  --text__06: var(--blackOpac-09);
  --icono__01: var(--white);
  --icono__02: var(--black);
  --border__01: var(--blackOpac-03);
  --border__02: var(--violetblue);
}

.dark {
  --bg__01: var(--blackDm);
  --bg__02: var(--blackOpac-01);
  --text__01: var(--white);
  --text__04: var(--whiteOpac-03);
  --text__05: var(--whiteOpac-05);
  --text__06: var(--whiteOpac-09);
  --icono__01: var(--black);
  --icono__02: var(--white);
  --border__01: var(--greyOpac-03);
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px 20px 0;
  background: var(--bg__01);
}

a {
  text-decoration: none;
}
