--white: #ffffff;
--black: #444444;
--blackOpac-01: rgba(0, 0, 0, 0.1);
--blackOpac-03: rgba(68, 68, 68, 0.2);
--blackOpac-05: rgba(68, 68, 68, 0.5);
--blackOpac-09: rgba(68, 68, 68, 0.9);
--blackDm: #18181a;
--darkblue: #1a2849;
--violetblue: #505bda;
--violetblueOpac-01: rgba(80, 91, 218, 0.1);
--violetblueOpac-06: rgba(78, 90, 218, 0.6);
--violet: #b063c5;
--pink: #ffaac3;
--green: #24cca7;
--red: #cc2424;
--yellow: #e8b60f;
